nav span {
  padding: 5px 10px;
  background-color: red;
}
nav a {
  color: #00FF00;
}
nav a:hover {
  color: #000;
}
* {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 20px;
}
body {
  background-color: #fff000;
}
