* {
  margin: 0;
  padding: 0;
}
html {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.428;
  height: 100%;
}
body {
  height: 100%;
  overflow-x: hidden;
}
p {
  margin-bottom: 24px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 24px;
  font-weight: 600;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
.content-wrapper {
  background-color: #fff;
  position: absolute;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}
header {
  height: 100px;
  width: 100%;
  border-bottom: 5px double #888888;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
}
header .logo {
  align-self: center;
  height: 85%;
  margin-right: 20px;
  cursor: pointer;
}
header .logo img {
  height: 100%;
}
header h2 {
  margin-bottom: 0;
  align-self: center;
}
header .logInOut {
  align-self: center;
  font-size: 130%;
}
header .logInOut .login {
  cursor: pointer;
}
header .logInOut .divider {
  margin: 0 10px;
}
header .logInOut .signup {
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  header {
    height: 120px;
    padding: 10px;
    box-sizing: content-box;
    flex-direction: column;
  }
  header .logo {
    height: 70%;
  }
  header .logInOut {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 110%;
  }
}
@media screen and (max-width: 550px) {
  header {
    height: 150px;
    padding-bottom: 20px;
  }
  header .logo {
    height: 60%;
  }
  header h2 {
    text-align: center;
  }
}
.menu {
  position: absolute;
  background-color: #333;
  width: 20%;
  min-height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  color: #ccc;
}
.menu ul {
  list-style: none;
}
.menu h4 {
  text-align: center;
  margin-bottom: 0;
}
.menu li {
  border-bottom: 5px solid #888888;
  padding: 30px 0 30px 10px;
  cursor: pointer;
}
.menu li:hover {
  background-color: red;
}
.menu li:active {
  background-color: #cc0000;
}
@media screen and (max-width: 700px) {
  .menu {
    width: 30%;
  }
}
.content {
  margin-bottom: auto;
  padding: 20px;
}
.content .tSubmit {
  padding-top: 20px;
}
.content .tSubmit .topicSubmit {
  color: #fff;
  background-color: #00008b;
  padding: 20px 60px;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 20px;
}
.content .tSubmit .topicSubmit:hover {
  background-color: #0000f1;
}
.guide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 250%;
  z-index: 99;
}
.guide .reply {
  position: absolute;
  top: 30px;
  left: 110px;
}
.guide .reply .replyText {
  font-size: 50%;
}
.guide .guideLogin {
  position: absolute;
  right: 130px;
  top: 30px;
}
.guide .guideLogin .guideLoginText {
  font-size: 50%;
}
.signupModal {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  display: flex;
}
.signupModal .signupForm {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: auto;
  width: 70%;
  height: 80%;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 20px;
}
.signupModal .signupForm h1 {
  text-align: center;
}
