* {
  margin: 0;
  padding: 0;
}
html {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.428;
  height: 100%;
}
body {
  height: 100%;
}
p {
  margin-bottom: 24px;
}
img {
  height: 100%;
}
.left-align {
  float: left;
}
.right-align {
  float: right;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 24px;
  font-weight: 600;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
header {
  position: relative;
  height: 100px;
  box-sizing: border-box;
  padding: 3px;
  border-bottom: 5px double #888888;
  *zoom: 1;
}
header .logo {
  height: 100%;
  position: relative;
  top: 5px;
  left: 5px;
}
header .logo img {
  height: 90%;
}
header h2 {
  line-height: 90px;
  margin-left: 11%;
}
header:before,
header:after {
  line-height: 1;
  display: block;
  clear: both;
  content: "";
}
@media screen and (max-width: 800px) {
  header {
    height: 200px;
  }
  header h2 {
    line-height: 190px;
    margin-left: 25%;
  }
}
