* {
  margin: 0;
  padding: 0;
}
html {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.428;
  height: 100%;
}
body {
  height: 100%;
  overflow-x: hidden;
}
p {
  margin-bottom: 24px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 24px;
  font-weight: 600;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
.content-wrapper {
  background-color: #fff;
  position: absolute;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}
header {
  height: 100px;
  width: 100%;
  color: #cccccc;
  background-color: #990000;
  border-bottom: 5px double #888888;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
}
header .logo {
  align-self: center;
  height: 85%;
  margin-right: 20px;
  cursor: pointer;
}
header .logo img {
  height: 100%;
}
header h2 {
  margin-bottom: 0;
  align-self: center;
}
header .logInOut {
  align-self: center;
  font-size: 130%;
}
header .logInOut .login {
  cursor: pointer;
}
header .logInOut .divider {
  margin: 0 10px;
}
header .logInOut .signup {
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  header {
    height: 120px;
    padding: 10px;
    box-sizing: content-box;
    flex-direction: column;
  }
  header .logo {
    height: 70%;
  }
  header .logInOut {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 110%;
  }
}
@media screen and (max-width: 550px) {
  header {
    height: 150px;
    padding-bottom: 20px;
  }
  header .logo {
    height: 60%;
  }
  header h2 {
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  header .logInOut {
    font-size: 80%;
    font-weight: 600;
  }
}
.menu {
  position: absolute;
  background-color: #333;
  width: 20%;
  min-height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  color: #ccc;
}
.menu ul {
  list-style: none;
}
.menu h4 {
  text-align: center;
  margin-bottom: 0;
}
.menu li {
  border-bottom: 5px solid #888888;
  padding: 30px 0 30px 10px;
  cursor: pointer;
}
.menu li:hover {
  background-color: #990000;
}
.menu li:active {
  background-color: #cc0000;
}
@media screen and (max-width: 700px) {
  .menu {
    width: 30%;
  }
}
.content {
  margin-bottom: auto;
  padding: 20px;
}
.content .tSubmit {
  padding-top: 20px;
}
.content .tSubmit .topicSubmit {
  color: #fff;
  background-color: #990000;
  padding: 20px 60px;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 20px;
}
.content .tSubmit .topicSubmit:hover {
  background-color: #cc0000;
}
footer {
  background-color: #333333;
  width: 100%;
  min-height: 100px;
  border-top: 5px double #888888;
  display: flex;
  flex-direction: column;
  color: #ccc;
}
footer .footerCol {
  display: flex;
  width: 100%;
  background-color: blueviolet;
}
footer .footerCol section {
  width: 33.3%;
  height: 200px;
  background-color: #990000;
  display: flex;
  justify-content: space-around;
}
footer .footerCol section .footerText h3 {
  margin-bottom: 12px;
}
footer .footerCol section .footerText p {
  margin-bottom: 8px;
}
footer .footerCol section .footerImg {
  background-color: #00008B;
  height: 95%;
  align-self: center;
}
footer .footerCol section .footerImg img {
  height: 100%;
}
footer .copy {
  padding: 20px 0;
  text-align: center;
}
@media screen and (max-width: 550px) {
  footer .footerCol {
    display: block;
  }
  footer .footerCol section {
    width: 100%;
  }
  footer .footerCol section:nth-child(even) {
    background-color: #333333;
  }
}
.guide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 250%;
  z-index: 99;
}
.guide .reply {
  position: absolute;
  top: 30px;
  left: 110px;
}
.guide .reply .replyText {
  font-size: 50%;
}
.guide .guideLogin {
  position: absolute;
  right: 200px;
  top: 30px;
}
.guide .guideLogin .guideLoginText {
  font-size: 50%;
}
@media screen and (max-width: 800px) {
  .guide .reply {
    width: 130px;
    left: auto;
    right: 435px;
    line-height: 5px;
  }
  .guide .replyIc {
    top: 50px;
    transform: rotateY(180deg);
  }
  .guide .guideLogin {
    right: 170px;
    top: 3px;
  }
}
@media screen and (max-width: 750px) {
  .guide .reply {
    right: 395px;
  }
}
@media screen and (max-width: 700px) {
  .guide .reply {
    right: 335px;
  }
}
@media screen and (max-width: 600px) {
  .guide .reply {
    right: 285px;
    top: 50px;
  }
}
@media screen and (max-width: 450px) {
  .guide .reply {
    left: 2px;
    right: 185px;
  }
  .guide .guideLogin {
    right: 140px;
  }
}
.modalBG {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 97;
  display: none;
  justify-content: center;
}
.modalBG .signupForm {
  width: 100%;
  height: 500px;
  display: none ;
}
.modalBG .signupForm h3 {
  color: #595959;
}
.modalBG .loginForm {
  width: 100%;
  height: 500px;
  display: none;
}
.modalBG .modalFG {
  align-self: center;
  align-content: center;
  height: 600px;
  width: 70%;
  background-color: #e6e6e6;
  border-radius: 20px;
}
.modalBG .modalFG .modalExit {
  width: 4.5%;
  height: 8%;
  float: right;
  cursor: pointer;
}
.modalBG .modalFG .modalExit i {
  font-size: 250%;
  padding: 5px 10px;
  color: #595959;
}
.modalBG .modalFG .modalExit i:hover {
  color: #990000;
}
.modalBG .modalFG .form {
  width: 100%;
  height: 500px;
  align-self: center;
  color: #595959;
}
.modalBG .modalFG .form h3 {
  margin-bottom: 12px;
}
.modalBG .modalFG .form .input {
  width: 40%;
  height: 100%;
  margin: 0 auto;
}
.modalBG .modalFG .form .input input {
  width: 97%;
  padding: 5px;
  margin: 8px 0;
  border-radius: 4px;
}
.modalBG .modalFG .form .input input:focus {
  box-shadow: 0px 0px 8px .5px cornflowerblue;
}
.modalBG .modalFG .form .input .err {
  margin-bottom: 0;
  color: red;
}
.modalBG .modalFG .form .input button {
  padding: 5px;
  border-radius: 4px;
  background-color: #eee;
  color: #555;
  box-shadow: 0 3px 2px 0 black;
  position: relative;
  text-align: center;
}
.modalBG .modalFG .form .input button:active {
  box-shadow: 0 0 0 0 black;
}
.modalBG .modalFG .form .input button:hover {
  background-color: #ccc;
}
.modalBG2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 98;
  display: none;
  justify-content: center;
}
.modalBG2 .modalFG2 {
  align-self: center;
  align-content: center;
  height: 200px;
  width: 30%;
  background-color: #e6e6e6;
  border-radius: 20px;
  color: #595959;
}
.modalBG2 .modalFG2 .modalExit2 {
  width: 9%;
  height: 50px;
  float: right;
  cursor: pointer;
}
.modalBG2 .modalFG2 .modalExit2 i {
  font-size: 250%;
  padding: 5px 10px;
  color: #595959;
}
.modalBG2 .modalFG2 .modalExit2 i:hover {
  color: #990000;
}
.modalBG2 .fail,
.modalBG2 .noDB {
  width: 100%;
  height: 100px;
  min-height: 100px;
  display: none;
  text-align: center;
  justify-content: center;
}
.modalBG2 .fail .input,
.modalBG2 .noDB .input {
  padding: 0 20px;
}
.modalBG2 .success {
  width: 100%;
  height: 100px;
  min-height: 100px;
  display: none;
  text-align: center;
  justify-content: center;
}
@media screen and (max-width: 1500px) {
  .modalBG .modalFG .modalExit {
    position: relative;
    right: 5px;
  }
  .modalBG2 .modalFG2 .modalExit2 {
    width: 10%;
    position: relative;
    right: 5px;
  }
}
@media screen and (max-width: 1300px) {
  .modalBG .modalFG .form .input {
    width: 50%;
  }
  .modalBG .modalFG .form .input input {
    width: 96%;
  }
  .modalBG .modalFG .modalExit {
    width: 6%;
  }
  .modalBG2 .modalFG2 .modalExit2 {
    width: 14%;
  }
}
@media screen and (max-width: 900px) {
  .modalBG .modalFG .form .input {
    width: 70%;
  }
  .modalBG .modalFG .form .input input {
    width: 95%;
  }
  .modalBG .modalFG .modalExit {
    width: 9%;
  }
  .modalBG2 .modalFG2 {
    width: 40%;
  }
  .modalBG2 .modalFG2 .modalExit2 {
    width: 16%;
  }
}
@media screen and (max-width: 600px) {
  .modalBG .modalFG .form .input input {
    width: 94%;
  }
  .modalBG .modalFG .modalExit {
    width: 12%;
  }
  .modalBG2 .modalFG2 {
    width: 50%;
  }
  .modalBG2 .modalFG2 .modalExit2 {
    width: 18%;
  }
}
@media screen and (max-width: 440px) {
  .modalBG .modalFG .form .input {
    width: 80%;
  }
  .modalBG .modalFG .modalExit {
    width: 15%;
  }
  .modalBG2 .modalFG2 {
    width: 60%;
  }
}
