*{
    margin: 0;
}
html, body{
    height: 100%;
    display: flex;
    display: -webkit-flex;
}
h1,h2,h3,h4,h5,h6,p{
    margin-bottom: 20px;
}

#getData{
    height: 50px;
    width: 100px;
    border-radius: 10px;
    margin: auto;
}